* {
    margin: 0;
    padding: 0;
}

body {


    height: 600px;
    width: 1009px;
    background-color: rgb(0, 0, 0);
    animation-name: example;
    animation-duration: 50s;
    font-family: Arial, sans-serif;


}

#home {

    margin-top: 100px;
    margin-inline-start: 470px;
    border-radius: 25%;
    border: 2px solid red;

}

@keyframes example {
    0% {
        background-color: rgb(14, 0, 104);
    }

    25% {
        background-color: rgb(109, 2, 109);
    }

    50% {
        background-color: rgb(20, 122, 0);
    }

    75% {
        background-color: rgb(87, 0, 0);
    }

    100% {
        background-color: rgb(0, 39, 10);
    }
}

img {

    border: 2px solid rgb(67, 255, 130);
    margin-inline-start: 450px;

}




.nav_tabs {

    width: auto;
    height: 400px;
    margin: 27px;
    background-color: white;
    position: absolute;

}



.nav_tabs ul {

    list-style: none;


}


.nav_tabs ul li {

    float: left;

}


.nav_tabs label {

    width: 933px;
    padding: 10px;
    margin: auto;
    background-color: rgb(0, 4, 255);
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 10px;

}

.rd_tabs:checked~label {

    background-color: #e54e43;

}

.rd_tabs {

    display: none;

}

.content {

    border-top: 5px solid #e54e43;
    background-color: rgb(193, 255, 157);
    display: none;
    margin-top: 5px;
    position: absolute;
    height: 350px;
    width: 953px;
    left: 0;


}



.linha {

    display: flex;
    flex-flow: row wrap;


}


.coluna-33 {

    width: 33%;

}


.content article {

    padding: 30px;
    font-style: italic;
    text-align: center;
    color: rgb(0, 0, 0);


}

.rd_tabs:checked~.content {

    display: block;
}



header {

    margin-top: 30px;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(252, 252, 252) 0.1em 0.1em 0.2em
}



.pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: auto;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }

    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }

    100% {
        transform: scale(1.1);
        filter: brightness(200%);
    }
}


.footer {

    background-color: blue;
    text-align: center;
    margin: 400px auto;
    padding: 10px;

}